@media screen and (min-width: 1000px) {
  main h2 {
    width: 750px;
    font-size: 2em;
  }
  main p {
    margin-top: 25px;
    width: 800px;
  }
}

main {
  display: flex;
  font-size: 1.025em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 500px;
}
main p {
  margin-bottom: 25px;
}
main div input {
  border: 1px solid var(--segundo-color);
  font-size: 1.15em;
  padding: 15px;
  background-color: var(--primer-color);
}
::placeholder {
  color: rgb(156, 156, 156);
}
